
.text-center{
    text-align: center;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}


.text-right{
    text-align: right;
}


.dark #toggler{
    color: white;
    background-color: white;
}
.light #toggler{
    color: black;
    background-color: black;
}
#toggler{   
    border: none;
    cursor: pointer;
    align-self: self-end;
    margin-right: 10px;
}   
